.container{
}
.game{
  height: 20em;
  width: 40em;
  background-color: #bfbfbb;
  color: #333330;
}

#answer{
  background-color: #bfbfbb;
  border: 0px;
  border-bottom: 5px solid #333330;
  width: 100%;
  font-size: 30px;
  text-align: center;
}
#question{
}
#question p{
  margin: 0.5em;
  text-align: center;
  font-size: 50px;
}
